schema_validare.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- DTD generated by XMLSpy v2024 rel. 2 (x64) (https://www.altova.com) -->
<!ELEMENT main (title, description)>
<!ELEMENT page (title, description, ((images, prices?) | details))>
<!ATTLIST page
	id (cabane | camere | companie | facilitati) #REQUIRED
>
<!ELEMENT site (main, pages)>
<!ELEMENT image EMPTY>
<!ATTLIST image
	src CDATA #REQUIRED
>
<!ELEMENT pages (page+)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT detail (#PCDATA)>
<!ELEMENT images (image+)>
<!ELEMENT prices (price+)>
<!ELEMENT details (detail+)>
<!ELEMENT description (#PCDATA)>
